#bg-video {
    filter: blur(6px) brightness(0.7);
    transition: filter 0.5s ease;
}

.glass-effect {
<<<<<<< HEAD
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    animation: fadeIn 1s ease-in-out;
=======
<<<<<<< HEAD
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    animation: fadeIn 1s ease-in-out;
=======
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
>>>>>>> 206140d5074f32c823b32f2d98768f3a19f05517
>>>>>>> 9bfdb3a18e8d73c0e076dbe4fc0aa5911459bcc7
}

.hover-scale {
    transition: all 0.3s ease;
}

.hover-scale:hover {
<<<<<<< HEAD
    transform: scale(1.03) rotate(0.3deg);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
=======
<<<<<<< HEAD
    transform: scale(1.03) rotate(0.3deg);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
=======
    transform: scale(1.02);
>>>>>>> 206140d5074f32c823b32f2d98768f3a19f05517
>>>>>>> 9bfdb3a18e8d73c0e076dbe4fc0aa5911459bcc7
}

.vinyl {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9bfdb3a18e8d73c0e076dbe4fc0aa5911459bcc7
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
<<<<<<< HEAD
=======
=======
.music-player {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6);
    cursor: grab;
    transition: opacity 0.5s ease;
}

.music-player:active {
    cursor: grabbing;
>>>>>>> 206140d5074f32c823b32f2d98768f3a19f05517
>>>>>>> 9bfdb3a18e8d73c0e076dbe4fc0aa5911459bcc7
}

.fade {
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hidden-fade {
    opacity: 0;
    visibility: hidden;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9bfdb3a18e8d73c0e076dbe4fc0aa5911459bcc7
}

#loading-screen {
    transition: opacity 1s ease, visibility 1s ease;
}

#loading-screen.fade-out {
    opacity: 0;
    visibility: hidden;
<<<<<<< HEAD
=======
=======
>>>>>>> 206140d5074f32c823b32f2d98768f3a19f05517
>>>>>>> 9bfdb3a18e8d73c0e076dbe4fc0aa5911459bcc7
}